@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background: 239 245 254;
    --titlecolor: 62, 69, 88;
    --subtitlecolor: 67, 74, 93;
    --hoverbordercolor: 99 99 246;
    --bordercolor: 148 163 184;
    --inputbackground: 255 255 255;
}

.dark {
    --background: 44 44 45;
    --titlecolor: 250 250 250;
    --subtitlecolor: 99 102 241;
    --hoverbordercolor: 99 99 246;
    --bordercolor: 78 80 82;
    --inputbackground: 64 60 68;
}